// scale text automatically to golden ratio
@mixin scaleText($size, $ratio: null, $min: 1em) {

  @if $ratio == null {
    $ratio: 1.25;
  }

  // $sizeS: round($size / ($ratio * $ratio));
  // $sizeM: round($size / $ratio);
  // $sizeL: $size;

  $sizeS: $size / ($ratio * $ratio);
  $sizeM: $size / $ratio;
  $sizeL: $size;

  @if $sizeS < $min {
    $sizeS: $min;
  }

  @if $sizeM < $min {
    $sizeM: $min;
  }

  // return
  @include fontsize($sizeS);

  @include breakpoint($medium-bp) {
    @include fontsize($sizeM);
  }
  @include breakpoint($large-bp) {
    @include fontsize($sizeL);
  }
}
