::selection {
  background-color: $primary-light;
}

p,ul,ol,blockquote,section,article {
  margin-bottom: $space-m;
}

b, strong { font-weight: $body-weight-bold; }

small { font-size: $size-s; }

em { font-style: italic; }

a { text-decoration: none; }

img { width: 100%; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
