doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    block pageVars
    - var pageTitle = pageName !== '' ? pageName+' | My new website' : 'My new website'
    title #{pageTitle}
    meta(name="description" content="#{pageDescription}")

    meta(name="author" content="Bas Kaal")
    meta(name="follow" content="index, follow")

    link(rel="shortcut icon" href="/assets/favicons/favicon.ico")
    link(rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-196x196.png" sizes="196x196")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-160x160.png" sizes="160x160")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png")
    meta(name="msapplication-config" content="/assets/favicons/browserconfig.xml")

    link(rel="stylesheet" href="/css/all.min.css")


  //- navItems
  - var navItems = ['Home', 'Shop', 'Brands', 'Blog', 'About', 'Contact']

  body

    //- page wrapper for moving everything on sidebar toggle
    .wrapper

      include ../inc/offcanvas

      include ../inc/header

      block pageContent

      include ../inc/footer
