.hero {
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
}

.hero__title {
  @include container;
  padding-top: $space-xl;
  color: $white;
  z-index: 1;
}


@include breakpoint($medium-bp) {

  .hero {
    height: 400px;
  }
  .hero__title {
    padding-top: 150px;
  }

}
