// inline list
.inline {
  li {
    display: inline-block;
    margin-right: $space-xxs;

    // removes bottom margin from last item
    &:last-child { margin-right: 0; }
  }
}

//  bullet list
.bullet {
  li {
    margin-bottom: $space-xxs;
    padding-left: $space-s;
    position: relative;

    // removes bottom margin from last item
    &:last-child { margin-bottom: 0; }

    // Custom bullets
    &:before {
      content: '';
      display: inline-block;
      position: relative;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      left: -$space-s;
      top: -2px;
      background-color: $primary;
    }
  }
}
