// Offcanvas menu styling
.offCanvas {
  position: absolute;
  width: $sidebar-width;
  left: -$sidebar-width;
  background-color: $grey4;
  height: 100%;
}

.offCanvas__item {
  display: block;
  width: 100%;
  padding: 20px 40px;
  border-bottom: 1px solid $grey5;
  color: $white;

  &.active {
    color: $primary;
  }
}

.wrapper {
  transition: transform $duration $timing;
}

// Makes offcanvas open state only visible for small screens
@include breakpoint(max $large-bp) {

  // Moves page wrapper to side so sidebar is visible
  .offCanvas-open {
    .wrapper {
      transform: translate3d($sidebar-width, 0, 0);
    }
  }
}
