include ../mixins/generateNav


header#header.header

  //- offCanvas trigger
  a.hamburger.btn: span ☰

  //- main Nav
  nav.nav
    ul.inline
      +generateNav('btn')

  //- logo
  a(href='/').logo
    img(src='http://placehold.it/150x80', alt='Logo')
