@import "vars";

@media only screen
and (min-device-width : 960px)
and (max-device-width : 1024px) {
  .slider-item {
    padding-top: 80px;
    .slider-btn {
      line-height: 45px;
      font-size: 25px;
      padding: 0 35px;
    }
  }
}

@media only screen
and (max-device-width : 768px) {
  .slider-item {
    .description-title {
      margin-bottom: 5px;
    }
    .description-body {
      margin-bottom: 25px;
      span {
        margin-top: 5px;
      }
    }
  }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 980px) {
  .slider-item {
    padding-top: 100px;
    margin-bottom: 50px;
    &_description {
      line-height: 24px;
      .description-title {
        font-size: 20px;
      }
      .description-body {
        font-size: 30px;
        margin-bottom: 15px;
        span {
          font-size: 22px;
        }
      }
      .slider-btn {
        font-size: 12px;
        padding: 0 10px;
        line-height: 20px;
      }
    }
  }
}

@media only screen
and (max-device-width : 767px) {
  .main-header_top {
    padding-top: 15px;
  }
  .slider-item {
    padding: 50px 0 10px;
    margin-bottom: 0;
    &_description {
      line-height: 24px;
      .description-title {
        font-size: 12px;
      }
      .description-body {
        font-size: 16px;
        margin-bottom: 15px;
        span {
          font-size: 18px;
        }
      }
      .slider-btn {
        font-size: 12px;
        padding: 0 10px;
        line-height: 20px;
      }
    }
  }
}