$light-txt: #fff;
$dark-txt: #777;
$accent-color: #dc0000;
$dark-bg: #5d5d5d;

// fonts
$main-font: 'OpenSans', sans-serif;
$light-font: 'OpenSans-Light', sans-serif;
$light-itelic-font: 'OpenSans-LightItalic', sans-serif;
$accent-font: 'Lato-Regular', sans-serif;
$accent-black-font: 'Lato-Bold', sans-serif;
