// COLORS
// Default
$white: #fafafa;
$black: #080808;

$grey1: darken(white, 5%);
$grey2: darken(white, 10%);
$grey3: darken(white, 40%);
$grey4: darken(white, 50%);
$grey5: darken(white, 60%);

// Specific
$primary: #00d19c;
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);

$secondary: #554f9d;
$secondary-light: lighten($secondary, 10%);
$secondary-dark: darken($secondary, 10%);

// Text
$base-color: darken(white, 60%);
$alt-color: $white;


// BG Colors
.pri { background-color: $primary; }
.pri-light { background-color: $primary-light; }
.pri-dark { background-color: $primary-dark; }

.sec { background-color: $secondary; }
.sec-light { background-color: $secondary-light; }
.sec-dark { background-color: $secondary-dark; }

// Text colors
.base { color: $base-color; }
.alt { color: $alt-color; }
