extends base/base
block pageVars
  - var pageName = 'Home'
  - var pageDescription = ''

block pageContent

  .hero(style='background-image: url("https://placeimg.com/1000/500/nature")')
    h1.hero__title.title--xxl Page title

  .container
    section.clearfix

      article.col12.col6--m.col4--l
        h2.title--l Lorem Ipsum
        p Try-hard chambray skateboard, ennui Schlitz organic semiotics. Messenger bag organic deep v tilde brunch, chillwave four dollar toast readymade lumbersexual Truffaut tote bag vegan shabby chic. Single-origin coffee seitan wayfarers XOXO, meh pop-up YOLO cred keytar. Meh ugh twee selfies. Brunch hoodie occupy Truffaut 3 wolf moon narwhal banh mi selfies. Brooklyn migas YOLO put a bird on it. Messenger bag mlkshk organic health goth.
        a(href='#').btn.js-btn Click me

      article.col12.col6--m.col4--l
        h2.title--l Lorem Ipsum
        p Try-hard chambray skateboard, ennui Schlitz organic semiotics. Messenger bag organic deep v tilde brunch, chillwave four dollar toast readymade lumbersexual Truffaut tote bag vegan shabby chic. Single-origin coffee seitan wayfarers XOXO, meh pop-up YOLO cred keytar. Meh ugh twee selfies. Brunch hoodie occupy Truffaut 3 wolf moon narwhal banh mi selfies. Brooklyn migas YOLO put a bird on it. Messenger bag mlkshk organic health goth.
        ul.bullet
          li Bacon
          li Pizza
          li Mozzarella
          li Icecream
        a(href='#').btn Click me

      article.col12.col6--m.col4--l
        h2.title--l Lorem Ipsum
        p Try-hard chambray skateboard, ennui Schlitz organic semiotics. Messenger bag organic deep v tilde brunch, chillwave four dollar toast readymade lumbersexual Truffaut tote bag vegan shabby chic. Single-origin coffee seitan wayfarers XOXO, meh pop-up YOLO cred keytar. Meh ugh twee selfies. Brunch hoodie occupy Truffaut 3 wolf moon narwhal banh mi selfies. Brooklyn migas YOLO put a bird on it. Messenger bag mlkshk organic health goth.
        a(href='#').btn Click me
